@charset "utf-8";

*{
    scroll-behavior: smooth;
    margin: 0em;
    padding: 0em;
    border: 0em;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    font-size: 1rem;
}


/* 
===============
== ROOTS == 
===============
*/
/* PALETA */
@media (prefers-color-scheme: light) {
    :root{
        /* COLORES */
        --prinicpal: #73ffbc;
        --analogo: #abf9ff;


        --complementario: #ff5522;
        --complementario-c: #e0400f;

        --fondo: #f7fcfa;
        --fondo-menor-c: #d8f0e2;
 
        --contraste: #07292b;
        --contraste-menor-c: #3d4b4d;
    }
  }
@media (prefers-color-scheme: dark) {
    :root{
        /* COLORES */
        --prinicpal: #73ffbc;
        --analogo: #abf9ff;


        --complementario: #ff5522;
        --complementario-c: #e0400f;

        --fondo: #07292b;
        --fondo-menor-c: #3d4b4d;
        
        --contraste: #f7fcfa ;
        --contraste-menor-c: #d8f0e2;
    }
}

:root{
    /* TAMAÑOS */
    --tamaño-max: 1440px;
    --fullheight: 100vh;
    --default-radio: 24px;
    
    --padding-art: 2.5rem 1rem 4rem;

    --fuentetitulos: "Red Hat display";
}
p{
    max-width: 45ch;
}
a {
    color: var(--contraste);
    text-decoration: none;
}
header, main {
    width: 100%;
    margin: auto;
}
ul, ol{
    list-style: none;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
h1{
    font-family: var(--fuentetitulos);
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
    max-width: 12ch;
}
h2{
    font-family: var(--fuentetitulos);
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.5rem;
    max-width: 12ch;
}
h3{
    font-family: var(--fuentetitulos);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.bajada-big{
    font-family: var(--fuentetitulos);
    font-weight: 400;
    font-size: 2.5rem;
}
.bajada-reg{
    font-family: var(--fuentetitulos);
    font-weight: 400;
    font-size: 1.8rem;
}
.bajada-small{
    font-family: var(--fuentetitulos);
    font-weight: 400;
}
mark{
    padding:-0px 8px 2px;
    border-radius: 1rem;
    background-color: unset;
    background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo)) ;
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
article{
    padding: var(--padding-art);
    margin: auto;
}
.fullarticle{
    min-height: var(--fullheight);
}
.container{
    height: 100%;
    width: var(--tamaño-max);
    margin: auto;
}

.cta{
    color: var(--fondo) !important; 
    background-color: var(--complementario) !important;

    font-weight: 600;

    padding: .25rem .75rem;
    border-radius: var(--default-radio);
    width: fit-content;
    transition: 400ms;
}
.cta:hover{
    background-color: var(--complementario-c) !important;
    text-shadow: 0 0 .01px var(--fondo);
    border-radius: 2rem;
    padding: .25rem .75rem .25rem 2rem;
}
.cta-sec{
    color: var(--complementario);
    font-weight: 700;
    width: fit-content;
    transition: 400ms;
    
}
.cta-sec:hover{
    color: var(--complementario-c);
}
.cta-sec::after{
    /* content: "\2192"; */
    content: url('/imagenes/icosecarrow.svg');
    display: inline-block;
    width: 1rem;
    margin-left: 5px;
}
.caption{
    font-size: 1rem;
    font-weight: bold;
    color: var(--contraste-menor-c);
}

.sombra{
    box-shadow: 0px 0px 10px #1a1a1a35;
}
.redondeado{
    border-radius: var(--default-radio);
}
.underline {
    background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo));
    background-position: bottom;
    background-size: 100% 0rem;
    background-repeat: no-repeat;
    transition: 500ms;
}
.underline:hover{
    background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo));
    background-position: bottom;
    background-size: 100% 1rem;
    background-repeat: no-repeat;
}

.card{}












/* 
======================================================
==================== UNIVERSALES ==================== 
======================================================
*/
main{
    background-color: var(--fondo);
    color: var(--contraste);
    min-height: 200vh;
}



/*==================== HEADER ====================*/
header{
    background-color:  #d9ffeb;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0px 10px #1a1a1a35;
}
.botonera{
    background-color:  #d9ffeb;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    
    z-index: 100;
}
header .logo-navbar{
    width:auto;
    height: 1.5rem
}
header .logo-navbar img{
    height: auto;
    max-height: 100%;
}
#menu{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    overflow: hidden;
}
#menu #menu-hamb{
    background-image: url(../imagenes/ico-menu.svg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;
    
    transition: background-position .4s steps(11, end);
}
#menu .menu-hamb-activ{
    background-image: url(../imagenes/ico-menu.svg) !important;

    background-position: -22rem;
    transition: background-position .4s steps(11, end) ;
}
.navegacion{
        /* height: 90vh; */
    background-color: var(--main);
    padding: 1rem;
    padding-top: calc(80px + 2rem);
    display: block;
    position: absolute;
    width: 100%;
    top: -100vh;
    transition: all 0.4s cubic-bezier(0.40, 0, 0, 1);
    z-index: -1;
}
.navegacion-visible{
    top: 0vh;
    position: absolute;
    z-index: -1;

    display: block;
    background-color: var(--contraste-menor-c);
    width: 100%;
}
header nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.navegacion a, button {
    text-align: inherit;
    background: none;
    border: none;
    font-size: 1.75rem;
    color: var(--fondo-menor-c);
}
.pag-act{
    background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo));
    background-position: bottom;
    background-size: 100% 4px;
    background-repeat: no-repeat;
    transition: 300ms;
    /* text-decoration: underline solid 3px var(--prinicpal); */
}
.pag-act a{
    text-shadow: 0 0 .02px var(--fondo), 0 0 .02px var(--fondo);
    color: var(--fondo);
    transition-duration: 400ms;
}
header nav ul a:hover{
    text-shadow: 0 0 .02px var(--fondo), 0 0 .02px var(--fondo);
    color: var(--fondo);
    transition-duration: 400ms;
}
.navegacion .contacto{
    background-color: var(--fondo);
    padding: .5rem;
    border-radius: 4px;
}
.navegacion .contacto a{
    color: var(--prinicpal);
    font-weight: 600;
}



/* ================== HEROS ================== */
.hero{
    height: 95vh;
}

/* ================== FOOTER ================== */
footer{
    display: flex;
}
footer{
    
        display: grid;
    background-color: var(--contraste);
    padding: 2rem 2rem 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    gap: 4rem 1rem;
}
footer *{
    color: var(--fondo);
    font-size: .75rem;
}
footer h6{
    font-size: .9rem;
}
.logo-footer{
    height: 1.5rem;
    width: auto;
}
.empresa{
    grid-row: 1;
    grid-column: span 3;
}
.empresa ul{
    padding-top: .5rem;
    display: flex;
    gap: 1.5rem;
}
.afip{
    height: auto;
    width: 50%;
    max-width: 2.5rem;
}


.contacto-footer{
    grid-row: 1;
    grid-column-start: 5;
    grid-column-end: 9;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.casillero {
    flex-grow: 1;
}
.contacto-footer input{
    width: 100%;
    color: var(--fondo);
    background-color: var(--contraste-menor-c);

    padding: .25rem .75rem;
    border-radius: 10rem;
}
.newsletter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem 1rem ;
}
.newsletter .cta{
    font-size: .75rem;
}
.newsletter h6{
    width: 100%;
}
.redes{
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.redes p{
    width: fit-content;   
}
.redes a{
    display: block;
    background-color: var(--fondo);
    height: 1.5rem;
    width: 1.5rem;
}

.navegacion-footer{
    grid-row: 1;
    grid-column-start: 11;
    grid-column-end: 13;
}
.navegacion-footer a{
    text-decoration:underline;
}

.legales{
    grid-row: 2;
    grid-column: span 12;

    display: flex;
    justify-content: space-between;
}
.legales *{
    font-size: .75rem;
    color: var(--contraste-menor-c);
}
.legales a{
    text-decoration:underline;
}



/* 
======================================================
==================== PARTICULARES ==================== 
======================================================
*/


/* ================== HOME ================== */
.hero.home{
    background: url(/imagenes/hero-banner.png) ;
    background-position: 68rem;
    background-size: auto 120%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 1rem;
}
.hero.home section{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: auto;
    padding: 1rem;
    border-radius: var(--default-radio);
    background-image: linear-gradient(180deg, #f7fcfacc 50%, #f7fcfa00 80%);
}
.hero.top100{
    background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo));
    align-content: center;
    text-align: center;
}
.hero.home div{
    padding: 1rem;
    background-color: var(--fondo);
    border-radius: var(--default-radio);
    width: fit-content;
    display: grid;
    grid-template-columns: auto 1fr;
    gap:1rem 1.5rem;
}
.hero.home img{
    max-width: 2.5rem;
    align-self: center;
    justify-self: center;
}
.hero.home p{
    max-width: 25ch;
}
.hero.home a{
    grid-column-start: 2;
    grid-column-end: 3;
}


/* ABOUTUS */
.aboutus{
    display: grid;
}
.aboutus h2 img{
    display: inline;
    height: 1.8rem;
    width: inherit;
}
.aboutus > div{
    height: 100%;
    display: grid;
    gap: 1rem 3rem;
    grid-template-columns: 30% 1fr 1fr;
    
    grid-template-rows: auto 1fr auto;
}
.aboutus figure {
    grid-area: 1/2/3/4;
    background-color: var(--contraste-menor-c);
}
.aboutus .ctaycaption{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-self: flex-end;
}


/* MARCAS */
.marcas{
    padding-top: 2rem;
    min-height: 25vh;
    background-color: var(--fondo);
    display: flex ;
    flex-direction: column;
    gap: 3rem;
    overflow: hidden;
}
.marcas .bajada-big{
    text-align: center;
    max-width: 21ch;
    margin: auto;
}
.marcas ul{
    width: 100%;
    margin: auto;

    margin-inline: auto;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 2rem;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 

    opacity: 50%;
}
.marcas ul li{
    width: fit-content  ;
}
.marcas img{
    max-height: 4rem;
    min-width: 6rem;
}

/* EDIFICIO */
.edificio {
    min-height: auto;
    background-color: var(--fondo-menor-c);
    
    background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo));
    background-position: bottom;
    background-size: 100% 1rem;
    background-repeat: no-repeat;
}
.edificio .maxwidth{
    min-height: 80vh;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto 1fr auto auto;
    justify-content: center;
    margin: auto;
    
    gap: 1rem 3rem;

}
.foto-edificio{
    background-color: var(--contraste);
    padding: 1rem;
    grid-row: span 4;
    align-content: flex-end;
}
.foto-edificio div{
    display: flex;
    align-items: center;
    gap:1rem;
    padding: 1rem 1.5rem;
    
    height: fit-content;
    width: fit-content;
    margin-left: auto;

    font-family: var(--fuentetitulos);
    color: var(--contraste-menor-c);

    background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo)) ;
    border-radius: var(--default-radio);
}
.edificio .card{
    max-width: 45ch;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    background-color: var(--fondo);
    padding: 1rem;

    margin-top: 2rem;
}
.edificio .card ul{
    list-style: initial;
    list-style-position: inside;
}


/* TALLERES */
.talleres-home{
    padding: 0;
    background-color: var(--contraste-menor-c);

    min-height: 70vh;

    background-image: url(/imagenes/planes-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -10rem;
}
.talleres-home h2{
    color: var(--fondo);
}
.talleres-home >a{
    background-color: var(--fondo);
    border-radius: 10rem;
    height: fit-content;
    width: fit-content;
    padding: 0.75rem 1.25rem;
    order: 1;
    justify-self: end;
    align-self: end;
}


.talleres-home {
    padding: 1rem;
    padding-bottom: 3rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-taller{
    background-color: var(--fondo);

    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: var(--default-radio);

    display: grid;
    gap: 1.5rem;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content ;

/*     
    background-image: url("/imagenes/taller-home-card-top100.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat; */
}
.card-taller figure{
    grid-row: span 2;
    border-radius: var(--default-radio) var(--default-radio) 0 0 ;
    overflow: hidden;
    height: 50%;
    min-height: 10rem;
    background-image: url(/imagenes/taller-home-card-top100.png);
    background-size: cover;
    background-position: center;
}
.card-taller figure img{
    width:auto;
    max-width: fit-content;
}

/* QUOTE */
.cita-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;

    background-color: var(--fondo-menor-c);
    padding: var(--padding-art);
}
.cita-home p{
    color: var(--contraste-menor-c);
    max-width: 29ch;
}
.cita-home .bajada-big{
    max-width: 30ch;
}



/* COACHES */
.coaches{
    display: grid;
    min-height: var(--fullheight);
    background-color: var(--fondo);
}
.coaches .maxwidth{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
    height: 100%;
}
.detalle-coaches{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.detalle-coaches > p{
    flex-grow: 1;
    max-width: 28ch;
}
.detalle-coaches > div p{
    font-size: 1rem;
    color: var(--contraste-menor-c);
    font-weight: 700;
}
.coaches-imagenes{
    flex-grow: 1;
    display: grid;
    grid-template-rows: min-content auto auto min-content;
    grid-template-columns: 3fr 3fr 2fr;
    
    gap: 1rem;

    padding: 1rem;
    max-width: 65rem;
}
.coaches-imagenes div{
    background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo)) ;
    border-radius: var(--default-radio);
    padding: 1rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;

    font-family: var(--fuentetitulos);
    color: var(--contraste-menor-c);
}
.coaches-numero{
    font-family: var(--fuentetitulos);
    font-size: 2.5rem;
}
.coaches-imagenes img{
    border-radius: var(--default-radio);
    background-color: rgba(7, 41, 45);
}
.coaches-imagenes :nth-child(1){
    grid-area: 1/ 1 / 2/ 2
}
.coaches-imagenes :nth-child(2){
    grid-area: 4/ 2 / 5 / 3
}
.coaches-imagenes :nth-child(3){
    grid-area: 2/ 1 / 5/ 2;
}
.coaches-imagenes :nth-child(4){
    grid-area: 1/ 2 / 3/ 4;
}
.coaches-imagenes :nth-child(5){
    grid-area: 3/ 2 / 4/ 3;
}
.coaches-imagenes :nth-child(6){
    grid-area: 3/ 3 / 5/ 4;
}



/* REVIEWS */
.reviews{
    min-height: 20vh;
    background-color: var(--fondo);
    display: flex;
    justify-content: center;
    overflow: scroll;
    
    -ms-overflow-style: none;
    scrollbar-width: none; 
    gap: 1rem;
    padding-top: 2rem;
}
.reviews section{
    background-color: var(--fondo-menor-c);
    color: var(--contraste-menor-c);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    height: 13rem;
    width: 22%;
    min-width: 20rem;
    padding: 1.5rem;
}
.reviews section::before{
    content: url(/imagenes/quoteico.svg);
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.reviews section p{
    flex-grow: 1;
}
.reviews section div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.reviews section div img{
    background-color: var(--contraste);
    border-radius: 50%;
    
    height: 2rem;
    width: 2rem;
}
.reviews section div p{
    width: 100%;
}


/* COMUNIDAD */
.comunidad{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    /* background-image: url(/imagenes/AdobeStock_373694965.jpeg);
    background-size: cover;
    background-position: top -10rem center;
    background-repeat: no-repeat; */

    background-color: var(--fondo-menor-c);
}
.comunidad .fondo{
    background-image: url(/imagenes/AdobeStock_373694965.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.comunidad .maxwidth{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr min-content;
    gap: 1rem 3rem;

    height: 100%;
    padding: 2rem 2rem 5rem;
}
.comunidad .bajada-big{
    max-width: 18ch;
}
.comunidad .card{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    gap: .5rem;

    min-width: 25rem;
    grid-area: 1/2/4/3;
    padding: 1rem;
}
.comunidad .card div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}
.flexgrow{
    flex-grow: 1;
}
.redes-comunidad{
    display: flex;
    gap: .5rem;
}
.redes-comunidad li{
    background-color: var(--contraste-menor-c);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;

}




/* ================== TOP 100 ================== */
.hero.top100 > *{
    margin: auto;
}
.hero.top100 > p{
    max-width: 35ch;
    padding-bottom: 3rem;
}
.timer{
    background-color: var(--fondo);
    padding: 1rem;
    border-radius: var(--default-radio);
    max-width: 30rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem 2rem;

}
.timer p{
    color: var(--contraste-menor-c);
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
}
#newcountdown{
    color: var(--contraste-menor-c);
    font-size: 2rem;
    font: var(--fuentetitulos);
    font-weight: 300;
    width: fit-content;
}










#home-planes{
    background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo)) ;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.promos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.promos .bajada-big{
    text-align: center;
    max-width: 23ch;
}
.promos .bajada-big mark{
    padding: 0px 1.25rem ;
    border-radius: 3rem;
    background-color: var(--fondo);
    background-image: unset ;
    font-size: inherit;
    font-family: inherit;
}
.promos ul{
    max-width: 33ch;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem 2rem;
}
.promos ul p{
    text-align: center;
    flex-basis: 100%;
}
.promos ul input{
    border-radius: 2rem;
    padding: .25rem .75rem;
    flex-grow: 1;
}
.suscripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
}
.suscripcion h2{
    text-align: center;
    margin: auto;
    max-width: 100%;
    flex-basis: 100%;
}
.suscripcion .card{
    display: flex;
    flex-direction: column;
    gap: .5rem;

    background-color: var(--fondo);
    padding: 1rem;
}
.suscripcion .card ul{
    list-style: inherit;
    list-style-position: inside;
    margin-bottom: 2rem;
    flex-grow: 1;
}





.faqs{
    min-height: 300vh;
    background-color: var(--fondo);
}
.faqs h2{
    top: 5rem;
    position: sticky;
}
.faqs iframe{
    border-radius: 24px;
}







@media only screen and (min-width: 750px){
    main{
        background-color: var(--fondo);
    }

    /* GENERALES */
    *{
        font-size: 1.125rem;
    }
    :root{
        --padding-art: 8rem 2rem 9rem;
    }
    a {
        color: var(--contraste);
        text-decoration: none;
    }
    header, main {
        width: 100%;
        margin: auto;
    }
    ul, ol{
        list-style: none;
    }
    img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    h1{
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
    h2{
        font-family: var(--fuentetitulos);
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 2.5rem;
        max-width: 12ch;
    }
    h3{
        font-family: var(--fuentetitulos);
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .cita{
        font-size: 2.5rem;
    }
    .maxwidth{
        max-width: var(--tamaño-max);
        margin: auto;
        width: 100%;
    }






    /* HEADER */
    header{
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 1rem 2rem;
        position: sticky;
        top: 0;
    }
    .botonera{
        padding: 0rem;
    }
    header .logo-navbar{
        width:auto;
        height: 1.25rem
    }
    header .logo-navbar img{
        height: 100%;
        width: fit-content;
        max-width: fit-content;
    }
    #menu{
        display: none;
    }

    .navegacion{
        position: initial;
        background-color: var(--main);
        padding: 0;
        top: auto;
        width: inherit;
        max-width: calc(120rem - 2rem - 200px) ;
    }
    .navegacion > ul{
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        justify-content: end;
        height: fit-content;
    }
    
    .navegacion ul li{
        padding: .25rem .75rem;
        height: 100%;
    }
    /* .pag-act:hover{
        background-size: 100% 100%;
    } */
    .navegacion ul li a, button{
        font-size: 1.125rem;
        color: var(--contraste);
    }
    header nav ul a:hover{
        text-shadow: 0 0 .01px var(--contraste), 0 0 .01px var(--contraste);
        color: var(--contraste);
        transition-duration: 300ms;
    }
    .navegacion .cta a{
        color: var(--fondo);
    }

    /* HERO */
    .hero.home{
        padding: 2rem;
        background-position: center;
    }
    .hero.home .bajada-reg{
        flex-grow: 1;
    }
    .hero.home section{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        max-width: 34rem;
        padding: 2rem;
        background-image: linear-gradient(180deg, #f7fcfacc 20%, #f7fcfa00 80%);
    }


    .detalle-coaches{
        padding-block: 1rem;
    }

    /* TALLERES */
    .talleres-home {
        min-height: 95vh;
        padding: 0;
        justify-content: space-between;
        gap: 0;
        align-items: center;
    }
    .talleres-home .banner{
        flex-grow: 1;

        margin: 1.5rem;
        padding: 1.5rem;
        height: 100%;
        min-height: 25vw;

        width: calc(100% - 3rem);
        max-width: var(--tamaño-max);

        display: flex;
        justify-content: space-between;
        background-image: linear-gradient(90deg, #234142cc 20%, #23414200 40%);
    }
    .banner .cta-sec{
        height: fit-content;
        padding: .75rem 1.25rem  ;
        background-color: var(--fondo);
    }
    .talleres-cards{
        width: 100%;
        background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo));
        display: grid;
        justify-content: center;
    }
    .talleres-cards .maxwidth{
        padding: 2rem  0 4rem;
        display: flex;
        margin: auto;
        gap: 1rem;
        margin-inline: 1.5rem;
        width: calc(100% - 3rem);
        max-width: var(--tamaño-max);
    }
    .talleres-home >a{
        order:inherit;
        align-self: inherit;
    }
    .talleres-cards .card-taller{
        padding: 1.5rem;
        padding-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: relative;
    }
    .talleres-cards .card-taller h3{
        margin-bottom: 1rem;
    }
    .talleres-cards .tallerdest{
        min-width: 50%;
    }
    
    .destacado::before{
        /* content: "\2192"; */
        content: url('/imagenes/icodest.svg');
        display: block;
        width: 1rem;
        height: 1rem;
        margin-right: 5px;
    }
    .destacado{
        display: flex;
        align-items: center;

        position: absolute ;
        top: 1.5rem;
        right: 1.5rem;
        
        font-weight: 700;
        color: var(--contraste-menor-c);
        background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo));

        padding: .25rem .75rem;
        border-radius: 10rem;
        width: fit-content;
    }
    .detalle{
        flex-grow: 1;
        padding-bottom: 2rem;
    }
    

    .promo{
        color: var(--contraste-menor-c);
        font-size: 1rem;
        font-weight: 600;
        padding-inline-start: .5rem;
    }
    .ctas-card{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }
    .ctas-card a{
        width: fit-content;
    }
    .detalles-curso{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 2rem;
    }
    .detalles-curso h2{
        display: block;
        background-color: var(--fondo);
        padding-top: 2rem;
        top: 3rem;
        position: sticky;
        z-index: 10;
    }
    
    .detalles-curso h3{
        display: block;
        background-color: var(--fondo);
        top: 12rem;
        position: sticky;
    }


}






@media only screen and (min-width: 1440px){

    .container{
        display: inherit;
    }


}