@charset "utf-8";

*{
    scroll-behavior: smooth;
    margin: 0em;
    padding: 0em;
    border: 0em;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    font-size: 1rem;
}



/*
===============
== ROOTS ==
===============
*/
/* PALETA */
@media (prefers-color-scheme: light) {
    :root{
        /* COLORES */
        --prinicpal: #73ffbc;
        --analogo: #abf9ff;

        --compgra: #ffcbba;
        --compgra-sec: #fff0b8;


        --complementario: #ff5522;
        --complementario-c: #e0400f;

        --fondo: #fafafa;
        --fondo-menor-c: #f0ede6;

        --contraste: #07292b;
        --contraste-menor-c: #3d4b4d;


    }
  }
@media (prefers-color-scheme: dark) {
    :root{
        /* COLORES */
        --prinicpal: #73ffbc;
        --analogo: #abf9ff;


        --complementario: #ff5522;
        --complementario-c: #e0400f;

        --fondo: #07292b;
        --fondo-menor-c: #3d4b4d;

        --contraste: #fafafa ;
        --contraste-menor-c: #d8f0e2;
    }
}

:root{
    /* TAMAÑOS */
    --tamaño-max: 1280px;
    --fullheight: 90vh;
    --default-radio: 24px;

    --padding-art: 2rem 1.5rem;

    --fuentetitulos: "Cairo";
    --pesobold: 650;
    --pesoreg: 400;
    --pesolight: 200;

    --espacio-sect: 8rem;
}
p{
    /* max-width: 45ch; */
}
a {
    color: var(--contraste);
    text-decoration: none;
    cursor: pointer;
}
header, main {
    width: 100%;
    margin: auto;
}
ul, ol{
    list-style: none;
}
figure{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
figure .fitimage{
    height: 100%;
    width: 100%;
    max-width: none;
    object-fit: cover !important;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
h1{
    font-family: var(--fuentetitulos);
    font-weight: var(--pesobold);
    font-size: 3rem;
    line-height: 3rem;
    max-width: 12ch;
}
h2{
    font-family: var(--fuentetitulos);
    font-weight: var(--pesobold);
    font-size:  2.25rem;
    line-height: 2.25rem;
    max-width: 12ch;
}
h3{
    font-family: var(--fuentetitulos);
    font-weight: var(--pesobold);
    font-size: 1.5rem;
    line-height: 1.5rem;
}
h4{
    font-family: var(--fuentetitulos);
    font-weight: var(--pesobold);
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.bajada-big{
    /* font-family: var(--fuentetitulos); */
    font-weight: var(--pesolight);
    font-size: 1.8rem;
    line-height: 1.8rem;
}
.bajada-reg{
    /* font-family: var(--fuentetitulos); */
    font-weight: var(--pesolight);
    font-size: 1.35rem;
    line-height: 1.35rem;
}
.bajada-small{
    /* font-family: var(--fuentetitulos); */
    font-weight: var(--pesolight);
    font-size: 1.15rem;
    line-height: 1.15rem;
}
mark{
    /* padding: 2px 8px 2px; */
    /* border-radius: 1rem; */

    background-color: unset;
    /* background-image: linear-gradient(45deg, var(--fondo), var(--fondo)) ; */
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: inherit;
    font-family: inherit;
    font-weight: var(--pesobold);
}
article{
    padding: var(--padding-art);
    margin: auto;
}
.fullarticle{
    min-height: var(--fullheight);
}
.container{
    height: 100%;
    width: var(--tamaño-max);
    margin: auto;
}

.cta{
    color: var(--fondo) !important;
    background-color: var(--complementario) !important;

    font-weight: var(--pesobold);

    padding: .25rem .75rem;
    border-radius: var(--default-radio);
    width: fit-content;
    transition: 400ms;
}
.cta:hover{
    background-color: var(--complementario-c) !important;
    text-shadow: 0 0 .01px var(--fondo);
    border-radius: 2rem;
}
.cta-sec{
    color: var(--complementario);
    font-weight: var(--pesobold);
    width: fit-content;
    transition: 400ms;


    display: flex;
    align-items: center;
}
.cta-sec:hover{
    color: var(--complementario-c);
}
.cta-sec::after{
    /* content: "\2192"; */
    content: url('../imagenes/icosecarrow.svg');
    display: inline-block;
    width: 1.125rem;
    margin-left: 5px;
    position: relative;
}

.caption{
    font-size: 1rem;
    font-weight: var(--pesobold);
    color: var(--contraste-menor-c);
}

.sombra{
    box-shadow: 0px 0px 10px #1a1a1a35;
}
.redondeado{
    border-radius: var(--default-radio);
}
.gradient{
    background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo));
}
.flexgrow{
    flex-grow: 1;
}
.underline {
    background-image: linear-gradient(45deg, var(--compgra), var(--compgra-sec)) ;
    background-position: bottom;
    background-size: 100% 0rem;
    background-repeat: no-repeat;
    transition: 500ms;
}
.underline:hover{
    background-size: 100% .5rem;
}

.card{
    padding: 1rem;
    background-color: var(--fondo);
}
.border{
    background-image: linear-gradient(45deg, var(--compgra), var(--compgra-sec)) ;
    border-radius: var(--default-radio);
    padding: 2px;
}
input{
       border: 0;
}




.divisor{
    height: var(--espacio-sect);
}
.divisor.div1{
    background-image: linear-gradient(var(--fondo), var(--fondo-menor-c)) ;
}
.divisor.div2{
    background-image: linear-gradient(var(--compgra-sec), var(--fondo)) ;
}
.divisor.div3{
    background-image: linear-gradient(var(--fondo-menor-c), var(--compgra)) ;
}
.divisor.div4{
    background-image: linear-gradient(var(--fondo-menor-c), var(--fondo)) ;
}
.divisor.div5{
    background-image: linear-gradient(var(--compgra-sec), var(--fondo-menor-c)) ;
}










/*
======================================================
==================== UNIVERSALES ====================
======================================================
*/
body{
    background-color: var(--fondo);

}
main{
    background-color: var(--fondo);
    color: var(--contraste);
    min-height: 200vh;
}



/*==================== HEADER ====================*/
header{
    background-image: linear-gradient(#e1e9eb 20%, transparent );
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0px 0px #1a1a1a35;
    transition: 300ms;
    min-height: 4rem;
}
header.solidheader, #header.top100 {
    background-image: linear-gradient(#d9ffeb 20%, #d9ffeb );
    box-shadow: 0px 0px 10px #1a1a1a35;
}
.botonera{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;

    z-index: 100;
}
header .logo-navbar{
    width:auto;
    display: grid;
}
header .logo-navbar img{
    height: auto;
    max-height: 1.2rem;
}
#menu{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    overflow: hidden;
    background-color: transparent;
    border: 0;
}
#menu #menu-hamb{
    background-image: url(../imagenes/iconos-menu.svg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;

    transition: background-position .4s steps(11, end);
    background-color: transparent;
    border: none;
}
#menu .menu-hamb-activ{
    background-image: url(../imagenes/iconos-menu.svg) !important;

    background-position: -22rem;
    transition: background-position .4s steps(11, end) ;
}
.navegacion{
    height: 100dvh;
    background-color: var(--main);
    padding: 1rem;
    padding-top: calc(80px + 2rem);
    display: block;
    position: absolute;
    width: 100%;
    top: -100vh;
    transition: all 0.4s cubic-bezier(0.40, 0, 0, 1);
    z-index: -100;
}
.navegacion-visible{
    top: 0vh;
    position: absolute;
    z-index: -1;

    display: block;
    background-color: var(--contraste-menor-c);
    width: 100%;
}
header nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}
.navegacion a, .navegacion button{
    text-align: inherit;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: var(--fondo);
    transition-duration: 400ms;
    font-weight: var(--pesoreg);
}
.pag-act a{
    background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo));
    background-position: bottom;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    transition: 300ms;
    font-weight: var(--pesobold);
    /* text-decoration: underline solid 3px var(--prinicpal); */
}
.pag-act a{
    /* text-shadow: 0 0 .02px var(--fondo), 0 0 .02px var(--fondo); */
    color: var(--fondo);
    transition-duration: 400ms;
}
header nav ul a:hover{
    color: var(--fondo);
    font-weight: var(--pesobold);
}
.navegacion .contacto{
    background-color: var(--fondo);
    padding: .5rem;
    border-radius: 4px;
}
.navegacion .contacto a{
    color: var(--prinicpal);
    font-weight: var(--pesobold);
}



/* ================== HEROS ================== */
.hero{
    height: 100dvh;
}

/* ================== FOOTER ================== */
footer{
    display: flex;
    flex-direction: column;

    background-color: var(--contraste);

    padding: 2rem 2rem 1.5rem;
    gap: 4rem 1rem;
    padding-block: 4rem;
}
footer article{
    padding: 0;
}
footer *{
    color: var(--fondo) !important;
    font-size: .75rem;
}
footer h6{
    font-size: .9rem;
}
.logo-footer{
    display: none;
}
.empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    order: 3;
}
.empresa ul{
    display: flex;
    gap: 1.5rem;
}
.afip{
    height: auto;
    width: 50%;
    max-width: 2.5rem;
}
.contacto-footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.casillero {
    flex-grow: 1;
}
footer::before{
    content: url(../imagenes/sendazen-logo.svg);
    width: 100%;
    max-width: 15rem;
    margin: auto;
}
.contacto-footer input{
    width: 100%;
    color: var(--fondo);
    background-color: var(--contraste-menor-c);

    padding: .25rem .75rem;
    border-radius: 10rem;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem 1rem ;
}
.newsletter .cta{
    font-size: .75rem;
}
.newsletter h6{
    width: 100%;
    text-align: center;
}
.redes{
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.redes p{
    width: fit-content;
}
.redes a{
    display: block;
    background-color: var(--fondo);
    height: 1.5rem;
    width: 1.5rem;
}
.navegacion-footer{
}
.navegacion-footer a{
    text-decoration:underline;
}

.legales{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    
    order: 4;
}
.legales *{
    font-size: .75rem;
    color: var(--contraste-menor-c);
}
.legales a{
    text-decoration:underline;
}



/*
======================================================
==================== PARTICULARES ====================
======================================================
*/


/* ================== HOME ================== */
.hero.home{
    background-image: url(../imagenes/home-hero2.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    padding-top: 5rem;
}
.hero.home section{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: auto;
    padding: 1.5rem;
    border-radius: var(--default-radio);
}
.hero.home div{
    background-image: linear-gradient(transparent, var(--fondo) );

    min-height: 8rem;
    display: grid;

    justify-content: center;
    align-items: center;
}
.hero.home img{
    max-width: 2.5rem;
    align-self: center;
    justify-self: center;
}
.hero.home p{
    max-width: 25ch;
}
.hero.home a{
    grid-column-start: 2;
    grid-column-end: 3;
}


/* ABOUTUS */
.aboutus{
    display: grid;
    margin-block: var(--espacio-sect);
}
.aboutus .maxwidth{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.aboutus h2{
    text-align: center;
}
.aboutus .bajada-reg{
    text-align: center;
}
.aboutus h2 img{
    display: inline;
    height: 1.5rem;
    width: inherit;
}
.aboutus figure {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    background-color: var(--contraste);
    overflow: hidden;
}
.aboutus .ctaycaption{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
    margin-top: 3rem;
}
.ctaycaption{
    align-self: auto;
}
.aboutus .maxwidth :nth-child(6){
    flex-grow: 1;
}






/* MARCAS */
.marcas{
    padding-top: 2rem;
    min-height: 25vh;
    background-color: var(--fondo);
    display: flex ;
    flex-direction: column;
    gap: 3rem;
    overflow: hidden;
}
.marcas .bajada-big{
    text-align: center;
    max-width: 21ch;
    margin: auto;
}
.marcas ul{
    width: 100%;
    margin: auto;

    margin-inline: auto;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 2rem;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    opacity: 50%;
}
.marcas ul li{
    width: fit-content  ;
}
.marcas img{
    max-height: 4rem;
    min-width: 6rem;
}


/* INSTALACIONES */
.instalaciones {
    background-color: var(--fondo-menor-c);
    padding-bottom: var(--espacio-sect);
    background-image: linear-gradient(45deg, var(--compgra), var(--compgra-sec)) ;
    background-position: bottom;
    background-size: 100% 1rem;
    background-repeat: no-repeat;
    display: grid;
}
.instalaciones .maxwidth{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.instalaciones h2{
    max-width: 23ch;
    height: min-content;
}
.instalaciones .card{
    display: flex;
    flex-direction: column;
    gap: .5rem;

    max-width: 100%;
    height: fit-content;
    grid-column: span 2;
    order: 99;
}
.instalaciones .titulo{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    grid-column: span 2;
    padding-bottom: 2rem;
}
.imagenes-instalaciones{
    display: contents;
    max-height: 50vh;
}
.imagenes-instalaciones figure{
    aspect-ratio: 4/3;
    overflow: hidden;
}
.imagenes-instalaciones figure img{
    height: 100%;
}
.imagenes-instalaciones > :nth-child(1){
    grid-column: span 2;
}
.imagenes-instalaciones > :nth-child(4){
    display: none;
}


/* TALLERES */
.talleres-home{
    padding: 0;

/*
    background-size: auto 65vh;
    background-repeat: no-repeat;
    background-position: center top; */

    display: grid;
    grid-template-rows: 45vh 1fr;
    grid-template-columns: 1fr;

    background-image: linear-gradient(var(--compgra) 45%, var(--compgra-sec)) ;
}
.talleres-home > *{
    padding: 1.5rem;
}
.talleres-home .banner{
    background-image: url(../imagenes/home-talleres.png);
    background-size: auto 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom ;
}
.talleres-home h2{
    max-width: initial;
}
.talleres-cards{
    display: grid;
    gap: 1.5rem;
    width: 100%;
    /* background-color: #fafafa3d; */

    /* background-image: linear-gradient(45deg, var(--prinicpal), var(--analogo)); */
}
.talleres-cards .maxwidth{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem   ;
}
.talleres-home .card{
    background-color: var(--fondo);

    border-radius: var(--default-radio);

    display: flex;
    flex-direction: column;
    gap: .5rem;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content ;
    position: relative;
    /*
    background-image: url("../imagenes/taller-home-card-top100.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat; */
}
.talleres-cards .card h3{
    margin-block: 2.4px;
}
.talleres-home .card .detalle{
    padding-bottom: 2rem;
    flex-grow: 1;
}
.ctas-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}
.tallerdest{
    grid-column: span 2;
}
.tallerdest .ctas-card *{
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
.destacado p::before{
    /* content: "\2192"; */
    content: url('../imagenes/iconos-tallerdestacado.svg');
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
}
.coaches-imagenes .border{
    background-image: linear-gradient(45deg, var(--compgra), var(--compgra-sec)) ;
    border-radius: var(--default-radio);
    padding: 2px;
}
.coaches-imagenes figure{
    max-width: 100%;
    overflow: hidden;
}
.destacado{
    background-image: linear-gradient(45deg, var(--compgra), var(--compgra-sec)) ;
    border-radius: var(--default-radio);
    padding: 2px;
    
    position: absolute ;
    top: 1rem;
    right: 1rem;
}
.destacado p{
    display: flex;
    align-items: center;


    font-weight: var(--pesobold);
    color: var(--contraste-menor-c);
    background-color: var(--fondo);

    padding: .2rem .7rem;
    border-radius: var(--default-radio);
    width: fit-content;
}



/* QUOTE */
.cita-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;

    padding: var(--padding-art);
    margin-top: var(--espacio-sect);
}
.cita-home p{
    color: var(--contraste-menor-c);
    max-width: 29ch;
}
.cita-home .bajada-big{
    max-width: 30ch;
}



/* COACHES */
.coaches{
    display: grid;
    /* min-height: var(--fullheight); */
}
.coaches .maxwidth{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 4rem;
    justify-content: space-between;
    height: 100%;
}
.detalle-coaches{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: fit-content;
}
.detalle-coaches > p{
    flex-grow: 1;
}
.coaches-imagenes{
    flex-grow: 1;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr 1fr;

    gap: 1rem;

    /* max-width: 50rem; */
}

.coaches-imagenes .border{
    background-image: linear-gradient(45deg, var(--compgra), var(--compgra-sec)) ;
    border-radius: var(--default-radio);
    padding: 2px;
}
.coaches-imagenes .border > div {
    border-radius: var(--default-radio);
    background-color: var(--fondo);

    
    padding: 1rem;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:0rem 1rem;

    font-family: var(--fuentetitulos);
    color: var(--contraste-menor-c);
}
.coaches-numero{
    font-family: var(--fuentetitulos);
    font-size: 2rem;
}
.coaches-imagenes figure{
    aspect-ratio: 9/16;
}
.coaches-imagenes :nth-child(1){
    grid-area: 1/ 1 / 2/ 2
}
.coaches-imagenes :nth-child(2){
    grid-area: 3/ 2 / 4 / 3
}
.coaches-imagenes :nth-child(3){
    grid-area: 2/ 1 / 4/ 2;
}
.coaches-imagenes :nth-child(4){
    grid-area: 1/ 2 / 3/ 3;
}



/* REVIEWS */
.reviews{
    min-height: 20vh;
    background-color: var(--fondo);
    display: flex;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 2rem;
    padding-top: 2rem;
    
    margin-block: var(--espacio-sect);
}
.reviews section{
    background-color: var(--fondo-menor-c);
    color: var(--contraste-menor-c);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    height: 13rem;
    min-width: calc(100vw - 4rem - 2rem);
    padding: 1.5rem;
}
.reviews section::before{
    content: url(../imagenes/iconos-quote.svg);
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.reviews section p{
    flex-grow: 1;
}
.reviews section div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.reviews section div img{
    background-color: var(--contraste);
    border-radius: 50%;

    height: 2rem;
    width: 2rem;
}
.reviews section div p{
    width: 100%;
}
.reviews > :first-child{
    margin-left: 1rem;
}
.reviews > :last-child{
    margin-right: 1rem;
}





/* COMUNIDAD */
.comunidad{
    display: grid;
    grid-template-rows: 40vh 1fr;
    padding: 0;
    /* background-image: url(../imagenes/AdobeStock_373694965.jpeg);
    background-size: cover;
    background-position: top -10rem center;
    background-repeat: no-repeat; */

    background-color: var(--fondo-menor-c);
}
.comunidad .fondo{
    background-image: url(../imagenes/home-comunidad-banner.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.comunidad .maxwidth{
    display: flex;
    flex-direction: column;
    gap: 1rem 3rem;

    height: 100%;
    padding: 1.5rem;
}
.comunidad .bajada-big{
    max-width: 18ch;
}
.comunidad .card{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.comunidad .card div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.redes-comunidad{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.redes-comunidad li{
    background-color: var(--contraste-menor-c);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}



/* PLANES */
#home-planes{
    background-image: linear-gradient(var(--compgra), var(--compgra-sec)) ;
    display: flex;
    flex-direction: column;
    gap: var(--espacio-sect);
    padding: 0;
}
.promos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}
.promos .bajada-big{
    text-align: center;
    max-width: 23ch;
    line-height: normal;
}
.promos .bajada-big mark{
    /* padding: 0px 1.25rem ; */
    border-radius: 3rem;
}
.promos ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem 1rem;
}
.promos ul :nth-child(1){
    width: 100%;
}
.promos ul p{
    max-width: 33ch;
    text-align: center;
    flex-basis: 100%;
    margin: auto;
}
.promos ul input{
    border-radius: 2rem;
    padding: .25rem .75rem;
    border: none;
}
.suscripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
}
.suscripcion h2{
    text-align: center;
    margin: auto;
    max-width: 100%;
    flex-basis: 100%;
    padding-inline: 1.5rem;
}
.suscripcion .card{
    display: flex;
    flex-direction: column;
    gap: .5rem;

    background-color: var(--fondo);
}
.suscripcion .card ul{
    list-style: inherit;
    list-style-position: inside;
    margin-bottom: 2rem;
    flex-grow: 1;
}
.suscripcion .container{
    display: flex;
    overflow: scroll;
    gap: 1rem;

    
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    padding: 2.5rem;
}
.suscripcion .container > *{
    min-width: calc(100vw - 4rem - 2rem);
}


/* FAQS */
.faqs{
    margin-bottom: var(--espacio-sect);
}
.faqs .maxwidth{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.faqs .maxwidth > p{
    max-width: 35ch;
}
.faqs .preguntas{
    grid-area: 1/2/4/3;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.accordion{
    display: flex;
    flex-direction: column-reverse;
    gap: 0em;

    border:1px solid var(--contraste-menor-c);
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    transition: 0.4s;

    text-align: inherit;
    background: none;
}
.accordion.active{
    gap: 1rem;
    transition: .4s;
}
.accordion .bajada-reg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.accordion .bajada-reg::after{
    content: ">";
    display: block;
    height: 2rem;
    width: auto;
    transform: rotate(90deg);
    justify-self: flex-end;
}
.accordion.active .bajada-reg::after{
    transform: rotate(270deg);
}
/* Style the accordion panel. Note: hidden by default */
.panel {
    transition: 0.4s;
    padding: 0 1rem 0rem 1rem;
    display: block;
    overflow: hidden;
    max-height: 0px;
}
.panel.visible{
    max-height: 14rem;

    padding: 0 1rem 1rem 1rem;
}
.faqs .ctaycaption{
    order: 99;
}








/* ================== TALLER TOP 100 ================== */
.hero.top100{
    background-image: url(../imagenes/talleres-top100-hero.jpeg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    padding: 0;
    padding-top: 6rem;
    display: flex;
}
.hero.top100 * {
    text-align: left;
}
.hero.top100 section {
    background-image: linear-gradient(0deg, var(--fondo), #fafafabf );
    padding: 2rem;
    padding-bottom: 4rem;
    align-self: flex-end;
    width: 100%;
}
.hero.top100 section > div{
    
    max-width: var(--tamaño-max);
    margin-inline: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1rem 4rem;

}
.hero.top100 .bajada-big{
    padding-bottom: 2rem;
    max-width: 25ch;
}
.timer{
    background-color: var(--fondo);
    padding: 1rem;
    border-radius: var(--default-radio);
    max-width: 30rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem 2rem;
}
.timer p{
    color: var(--contraste-menor-c);
    font-size: 1rem;
    font-weight: var(--pesobold);
    width: 100%;
}
#newcountdown{
    color: var(--contraste-menor-c);
    font-size: 2rem;
    font: var(--fuentetitulos);
    font-weight: var(--pesolight);
    width: fit-content;
}


/* BENEFICIOS */
.beneficios{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}
.beneficios .bajada{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.beneficios .bajada *{
    text-align: center;
}
.beneficios .bajada .bajada-big{
    max-width: 22ch;
}
.beneficios .bajada :nth-child(2){
    max-width: 40ch;
}
.beneficios-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: var(--tamaño-max);
    gap: 1rem;
}
.beneficios-cards .card{
    min-width: min-content;

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem 2rem;
}
.beneficios-cards .card p{
    grid-column: span 2;
}
.beneficios-cards .card img{
    width: 4rem;
    height: 4rem;
}
.beneficios .cta-sec{
    width: 100%;
    text-align: right;
    justify-content: flex-end;
}



/* PROFES */
.profes{
    background-color: var(--fondo-menor-c);
    padding: 0;
}
.profes .maxwidth{
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    padding-block: 2rem;
}
.profes .maxwidth h2{
    margin-inline: 2rem;
    max-width: 10ch;
}
.profes .maxwidth > p{
    padding-inline: 2rem;
}
.profes-cards{
    display: flex;
    flex-direction: column-reverse;
}
.profes-cards .profes-pics{
    padding-top: 2rem;
    width: 100%;
    margin: auto;
    margin-inline: auto;
    display: flex;
    justify-content: left;
    /* flex-wrap: wrap; */
    gap: 1rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-inline: 1rem;
}
.profes-pics figure{
    aspect-ratio: 9/16;
    min-width: calc(100vw - 3rem - 2rem);
}
.profes-pics :first-child{
    margin-left: 1rem;
}
.profes-pics :last-child{
    margin-right: 1rem;
}
.profes-cards .card{
    display: contents;
}
.profes-cards .border{
    background-image: none;
    padding-inline: 2rem;
}
.profes-cards .card::before{
    content: url(../imagenes/iconos-quote.svg);
    display: inline-block;
    height: 2rem;
    width: 2rem;
}



/* EDIFICIO */
.edificio {
    min-height: auto;
    background-color: var(--fondo-menor-c);
    
    padding-bottom: var(--espacio-sect);
}
.edificio h2{
    max-width: 12ch;
}
.edificio .maxwidth > p, .edificio .titulo p{
    max-width: 40ch;
}
.edificio .maxwidth > p{
    padding-bottom: 4rem;
}
.edificio .maxwidth{
    min-height: 40vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    margin: auto;

    gap: 1rem 4rem;
}
.foto-edificio{
    background-image: url(../imagenes/talleres-top100-edificio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    padding: 1rem;
    align-content: flex-end;
    min-width: 40%;
    aspect-ratio: 1;
}
.foto-edificio .border {
    background-image: linear-gradient(45deg, var(--compgra), var(--compgra-sec));
    border-radius: var(--default-radio);
    padding: 2px;
    width: fit-content;
    margin-left: auto;
}
.foto-edificio .border div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:1rem;
    padding: 1rem 1.5rem;

    height: fit-content;
    width: fit-content;

    font-family: var(--fuentetitulos);
    color: var(--contraste-menor-c);

    background-color: var(--fondo);
}
.edificio .card{
    max-width: 45ch;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    background-color: var(--fondo);

    margin-top: 2rem;
}
.edificio .card ul{
    list-style: initial;
    list-style-position: inside;
}


/* FINANCIAMIENTO */
.financiamiento{
    padding: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45vh 1fr;
    gap: 0rem;
}
.financiamiento-banner{
    background-image: url(../imagenes/talleres-top100-financiamiento.jpeg);
    background-size: cover;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
}
.financiamiento-banner div{
    background-image: linear-gradient(180deg, var(--fondo), transparent 50%);
    height: 100%;
    width: 100%;
    max-width: calc(var(--tamaño-max) * 0.5  - 2rem ) ;
    padding: 1.5rem;
}
.detalles-financiamiento{
    padding: 2rem;
    max-width: calc(var(--tamaño-max) * 0.5  + 2rem ) ;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.descripcion{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.descripcion > :nth-child(1), .descripcion > :nth-child(3){
    padding-bottom: 1rem;
}
.combos{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.combos .bajada-reg{
    text-align: center;
    max-width: 25ch;
    margin-inline: auto;
    
    line-height: 1.8rem;
}
.combos .bajada-reg mark {
    padding: 0px 8px;
    border-radius: 1rem;
    background-color: unset;
    background-image: linear-gradient(45deg, var(--compgra), var(--compgra-sec));
}
.combos .card{
    background-color: var(--fondo);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem 1rem;
}
.button-contenedor {
    position: relative;
    cursor: pointer;
    border: solid 2px var(--complementario);
    border-radius: 50%;
    padding: 2px;
}
  .button-contenedor input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    /* background-color: var(--complementario); */
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }
  .button-contenedor:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .button-contenedor input:checked ~ .checkmark {
    background-color: var(--complementario-c);
  }




/* PAGOS */
.metodos-pago{
    min-height: 25vh;
    background-color: var(--fondo);
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    overflow: hidden;
}
.metodos-pago .bajada-big{
    text-align: center;
}
.metodos-pago ul{
    padding-top: 2rem;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
}
.metodos-pago ul li{
    flex-basis: 15%;
    width: fit-content;
}
.metodos-pago img{
    width: 100%;
    max-height: 4rem;
}




/* DETALLES CURSO */
.detalles-curso{
    background-color: var(--fondo-menor-c);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.detalles-curso .detalles-header{
    display: block;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.detalles-curso h3{
}
.detalles-curso .bajada-big{
    max-width: 22ch;
}
.detalles-curso b{
    font-size: inherit;
}
.detalles-curso .maxwidth{
    display: flex;
    flex-direction: column;
    /* gap: 9rem ; */
}

.detalles-curso .maxwidth section{
    display: flex;
    flex-direction: column;
    gap: .5rem;

    min-height: 40vh;
    padding-top: var(--espacio-sect);
}
.detalles-curso .maxwidth > :nth-child(2){
    padding-top: 4rem;
}
.horarios{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.horarios .bajada-reg{
    text-align: center;
}
.detalles-curso h3{
    text-align: center;
}
.horarios :nth-child(4){
    flex-grow: 1;
    padding-bottom: 2rem;
    max-width: 100%;
}
.horarios .ctaycaption{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.direccion{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.direccion .bajada-reg{
    text-align: center;
}
.direccion ul{
    list-style-type: disc;
    list-style-position: outside;
    padding-inline: 1.5rem;
    padding-bottom: 2rem;
}
.direccion .mapa{
    border-radius: var(--default-radio);
    overflow: hidden;
    filter: grayscale(90%);
    mix-blend-mode: multiply;
    aspect-ratio: 1/1;
}

/* .direccion .color1{
    pointer-events:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #6d6d6d4a;
    z-index: 2;
    mix-blend-mode: hue;
}
.direccion .color2{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4040409c;
    z-index: 3;
    mix-blend-mode: screen;
}
.direccion .color3{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f0ede6cc;
    z-index: 4;
    mix-blend-mode: color;
} */
.modulo{
    display: contents;
}
.modulo figure{
    width: 100%;
    height: 25rem;
}
.modulo p{
    max-width: 100%;
}
.modulo :nth-child(3){
    padding-bottom: 2rem;
}
.cont-dest{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 1rem;
}
.cont-dest :nth-child(1){
    padding-left: 1rem;
    width: 100%;
}
.cont-dest .pill{
    font-weight: var(--pesoreg);
    padding: .25rem 1rem;
    border: 2px solid var(--contraste-menor-c);
}
.pill.dest{
    border: none;
    background-image: linear-gradient(45deg, var(--compgra), var(--compgra-sec)) ;
}


/* COMUNIDAD */
.comunidad-top100{
    background-image: linear-gradient(var(--compgra), var(--compgra-sec));
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comunidad-top100 h2{
    max-width: 17ch;
    text-align: center;
}
.comunidad-top100 > p{
    max-width: 30ch;
    text-align: center;
}
.comunidad-top100 .titulo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    align-items: center;
}
.comunidad-top100 .titulo p{
    text-align: center;
    max-width: 30ch;
}
.galeria-comunidad{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr min-content;
    gap: 1rem;
    max-width: calc(var(--tamaño-max) * 0.75);

    padding-block: 2rem;
}
.galeria-comunidad .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.galeria-comunidad .card *{
    text-align: center;
}
.galeria-comunidad .comunidad-cita{
    grid-row: span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    gap: 0;
    justify-items: center;
    padding: 0rem;
    overflow: hidden;

    aspect-ratio: 9/16;
}
.comunidad-cita figure{
    height: 100%;
    width: 100%;
}
.comunidad-cita :nth-child(2){
    display: none;

}
.comunidad-cita :nth-child(3){
    padding: 1rem;

}
.comunidad-cita p{
    max-width: calc(100% - 3rem);
    text-align: center;
}


/* PROMOBIGBOX */

.promo-bigbox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.promo-bigbox .titulo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.promo-bigbox h2{
    max-width: 15ch;
}
.promo-bigbox .titulo img{
    display: inline;
    height: 2.15rem;
    width: inherit;
}
.promo-bigbox figure{
    aspect-ratio: 1;
}
.promo-bigbox .detalles{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-bottom: 2rem;
}



/* FAQS */
.faqs.top100{
    background-color: var(--fondo-menor-c);
    margin-bottom: 0;
    padding-bottom: var(--espacio-sect);
}








@media only screen and (min-width: 750px){
    main{
        background-color: var(--fondo);
    }

    /* GENERALES */
    *{
        font-size: 1rem;
    }
    :root{
        --padding-art: 2rem;
        --fullheight: 100vh;
        --espacio-sect: 10rem;
        
    }
    a {
        color: var(--contraste);
        text-decoration: none;
    }
    header, main {
        width: 100%;
        margin: auto;
    }
    ul, ol{
        list-style: none;
    }
    img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    h1{
        font-size: 4rem;
        line-height: 4rem;
    }
    /* h2{
        font-family: var(--fuentetitulos);
        font-weight: var(--pesobold);
        font-size: 2.5rem;
        line-height: 2.5rem;
        max-width: 12ch;
    }
    h3{
        font-family: var(--fuentetitulos);
        font-weight: var(--pesobold);
        font-size: 1.5rem;
        line-height: 1.5rem;
    } */
    .cita{
        font-size: 2.5rem;
    }
    .maxwidth{
        max-width: var(--tamaño-max);
        margin: auto;
        width: 100%;
    }
    .card{
        padding: 1.5rem;
    }

    .divisor{
        height: var(--espacio-sect);
    }




    /* HEADER */
    header{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5rem 2rem;
        align-items: center;
        padding: 1rem 2rem;
    }
    .botonera{
        padding: 0rem;
    }
    header .logo-navbar{
        width:auto;
        height: 1.25rem
    }
    header .logo-navbar img{
        height: 100%;
        width: fit-content;
        max-width: fit-content;
    }
    #menu{
        display: none;
    }

    .navegacion{
        height: min-content;
        position: initial;
        padding: 0;
        top: auto;
        width: fit-content;
        max-width: 100%;
        flex-grow: 0;
    }
    .navegacion .flexgrow{
        flex-grow: 0;
    }
    .solidheader .navegacion, #header.top100 .navegacion{
        max-width: calc(var(--tamaño-max) - 170px - 1rem) !important;
    }
    .navegacion > ul{
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: end;
        height: fit-content;
    }

    .navegacion ul li{
        padding: .25rem .75rem;
        height: 100%;
    }
    /* .pag-act:hover{
        background-size: 100% 100%;
    } */
    .navegacion ul li a, .navegacion ul li button{
        font-size: 1.125rem;
        color: var(--contraste);
    }
    header nav ul a:hover{
        /* text-shadow: 0 0 .01px var(--contraste), 0 0 .01px var(--contraste); */
        color: var(--contraste);
        transition-duration: 300ms;
    }
    .navegacion .cta a{
        color: var(--fondo);
    }


    /* FOOTER */
    footer{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    footer *{
    }
    footer h6{
    }
    .logo-footer{
        display: block;
        height: 1.5rem;
        width: auto;
        max-width: 15rem;
    }
    .empresa{
        grid-row: 1;
        grid-column: span 3;

        align-items:flex-start;
    }
    .empresa ul{
        padding-top: .5rem;
    }
    .afip{
    }
    .contacto-footer{
        grid-row: 1;
        grid-column-start: 5;
        grid-column-end: 9;

        gap: 1rem;
    }
    .casillero {
    }
    .contacto-footer input{
    }
    .newsletter{
    }
    .newsletter .cta{
    }
    .newsletter h6{
        text-align: left;
    }
    .redes{
        justify-content: left;
    }
    .redes p{
    }
    .redes a{
    }
    .navegacion-footer{
        grid-row: 1;
        grid-column-start: 11;
        grid-column-end: 13;
        text-align: left;
    }
    .navegacion-footer a{
    }
    .legales{
        grid-row: 2;
        grid-column: span 12;
    }
    .legales *{
        text-align: left;
    }






    /* ================== HOME ================== */
    /* HERO */
    .hero.home{
        background-image: url(../imagenes/home-hero-desk.jpg) ;
        padding: 0;
        padding-top: 6rem;
        background-position: center;
        flex-direction: column;
    }
    .hero.home h1{
        max-width: 16ch;
    }
    .hero.home .bajada-reg{
        max-width: 42ch;
        flex-grow: 0;
        padding-bottom: 3rem;
    }
    .hero.home section{
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 2rem;
    }


    /* ABOUTUS */
    .aboutus .maxwidth{
        height: 100%;
        display: grid;
        grid-template-columns: 40% 1fr;

        grid-template-rows: auto 1fr auto;
        gap: 1rem 3rem;

        min-height: 70vh;
    }
    .aboutus *{
        align-self: start;
    }
    .aboutus h2{
        text-align: left;
    }
    .aboutus .bajada-reg{
        text-align: left;
    }
    .aboutus figure {
        grid-area: 1/2/5/3;
        height: 100%;
        aspect-ratio: auto;
    }
    .aboutus .ctaycaption{
        align-self: flex-end;
    }


    /* MARCAS */
    .marcas ul{
        justify-content: center;
    }


    /* INSTALACIONES */
    .instalaciones {
    }
    .instalaciones .maxwidth{
        grid-template-columns: 1fr auto;
        grid-template-rows: min-content 1fr;
        gap: 3rem 4rem;
    }
    .instalaciones h2{
    }
    .instalaciones .card{
        max-width: 28rem;
        grid-column: span 1;
        order: initial;
    }
    .titulo{
        grid-column: span 1;
        padding-bottom: 0;
    }
    .imagenes-instalaciones{
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 45%;
        gap: 1rem;
        height: 100%;
    }
    .imagenes-instalaciones figure{
        grid-column: span 1 !important;
        aspect-ratio: initial;
    }
    .imagenes-instalaciones > :nth-child(1), .imagenes-instalaciones :nth-child(3){
        grid-row: span 2;
    }
    .imagenes-instalaciones > :nth-child(4){
        display: flex;
    }


    /* TALLERES */
    .talleres-home {
        min-height: 95vh;
        justify-content: space-between;
        align-items: center;

        grid-template-rows: 55vh 1fr;
    }
    .talleres-home .banner{
        flex-grow: 1;

        padding: 1.5rem;
        height: 100%;
        min-height: 25vw;

        background-position: center;
    }
    .banner .cta-sec{
        height: min-content;
        padding: .75rem 1.25rem  ;
        background-color: var(--fondo);
    }
    .talleres-cards{
        display: grid;
        justify-content: center;
    }
    .talleres-cards h2{
        max-width: var(--tamaño-max);
    }
    .talleres-cards .maxwidth{
        display: flex;
        margin: auto;
        gap: 1rem;
    }
    .talleres-cards .card{
        gap: 1rem;
    }
    .talleres-cards .card h3{
        /* margin-bottom: 1rem; */
    }
    .talleres-home .card p{
    }
    .ctas-card{
    }
    .tallerdest{
        min-width: 50%;
    }
    .tallerdest .ctas-card *{
        width: fit-content;
        justify-content: space-between;
        text-align: left;
    }
    .destacado{
        top: 1.5rem;
        right: 1.5rem;
    }

    /* CITA */
    .cita-home{
    }


    /* COACHES */
    .coaches{
        background-color: var(--fondo);
    }
    .detalle-coaches{
        padding-block: 1rem;
    }
    .detalle-coaches > p{
        max-width: 28ch;
    }
    .coaches-numero{
        font-size: 2.5rem;
    }
    .coaches .maxwidth{
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-template-rows: 1fr min-content;
    }
    .coaches-imagenes{
        grid-row: span 2;
    }



    /* REVIEWS */
    .reviews{
        justify-content: center;
    }
    .reviews section{
        width: 22%;
        min-width: 20rem;
    }


    /* COMUNIDAD */
    .comunidad{
    }
    .comunidad .fondo{
    }
    .comunidad .maxwidth{
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr min-content;

        padding: 2rem;
    }
    .comunidad .bajada-big{
    }
    .comunidad .card{
        min-width: 25rem;
        grid-area: 1/2/4/3;
    }


    /* PLANES */
    #home-planes{
        padding: var(--padding-art);
        gap: 8rem;
    }
    .suscripcion .card{
        max-width: 40%;
    }
    #home-planes .container{
        display: contents;
    }
    .suscripcion .container > *{
        min-width: initial;
    }
    .promos{
        padding: 0;
    }



    /* FAQS */
    .faqs{
    }
    .faqs .maxwidth{
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-template-rows: min-content 1fr min-content;
        gap: .5rem 4rem;

        height: 100%;
    }
    .faqs .maxwidth > p{
        max-width: 35ch;
    }
    .faqs .preguntas{
        grid-area: 1/2/4/3;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .accordion{
        display: flex;
        flex-direction: column-reverse;
        gap: 0em;

        border:1px solid var(--contraste-menor-c);
        cursor: pointer;
        padding: 1rem;
        width: 100%;
        transition: 0.4s;

        text-align: inherit;
        background: none;
    }
    .faqs .ctaycaption{
        order: initial;
    }



    /* ==============CURSO=================== */
    /* HERO TOP 100 */
    .hero.top100 section > div{
    
        max-width: var(--tamaño-max);
        margin-inline: auto;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 2rem 4rem;
    
    }
    .timer{
        background-color: var(--fondo);
        padding: 1rem;
        border-radius: var(--default-radio);
        max-width: 30rem;
        grid-area: 2/2/3/3;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem 2rem;
    }
    .hero.top100 .bajada-big{
        padding-bottom: 0;
    }


    /* BENEFICIOS */
    .beneficios-cards .card{
        width: 30%;
        min-width: 18rem;
    }
    



    /* EDICIO */
    .edificio .maxwidth{
        min-height: 40vh;
        display: grid;
        grid-template-columns: .6fr .4fr;
        grid-template-rows: auto 1fr auto;
        justify-content: center;
        margin: auto;
    
        gap: 1rem 4rem;
    }
    .foto-edificio{
        background-image: url(../imagenes/talleres-top100-edificio.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    
        padding: 1rem;
        grid-area: 1/2/5/3;
        align-content: flex-end;
        min-width: 40%;

        
        aspect-ratio: auto  ;
    }

    
    /* PROFES */
    .profes{
        padding: var(--padding-art);
    }
    .profes .maxwidth{
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 3rem;  
        padding-block: 0rem;
    }
    .profes .maxwidth h2{
        margin-inline: 0rem;
    }
    .profes .maxwidth  > p{
        padding-inline: 0rem;
    }
    .profes-cards{
        display: grid;
        grid-column: span 2;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
    .profes-cards .profes-pics{
        display: contents;
    }
    .profes-pics figure{
        min-width: initial;
    }
    .profes-pics :first-child{
        margin-left: 0rem;
    }
    .profes-pics :last-child{
        margin-right: 0rem;
    }
    .profes-cards .border{
        background-image: linear-gradient(45deg, var(--compgra), var(--compgra-sec));
        padding-inline: 2px;
    }
    .profes-cards .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem   ;
        min-height: 100%;
    }
    .profes-cards .card::before{
        content: url(../imagenes/iconos-quote.svg);
        display: inline-block;
        height: 2rem;
        width: 2rem;

        padding-left: 0rem;
    }



    /* FINANCIAMIENTO */
    .financiamiento{
        padding: 0;

        display: grid;
        grid-template-columns: 40vw 1fr;
        grid-template-rows: 1fr;
        gap: 4rem;
    }
    .financiamiento-banner{
        width: 100%;
    }
    .financiamiento-banner div{
        max-width: 100%;
        padding: 0;
        padding-left: calc(100vw  * 0.5 - var(--tamaño-max)  * 0.5 );
    }
    .financiamiento-banner div *{
        padding-left: 2rem
    }
    .detalles-financiamiento{
        padding: 0;
        max-width: calc(60vw - 4rem - (100vw * 0.5 - var(--tamaño-max) * 0.5));
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding-right: 2rem ;
    }
    .descripcion{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .descripcion > :nth-child(1), .descripcion > :nth-child(3){
        padding-bottom: 1rem;
    }
    .combos{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
    }
    .combos .bajada-reg{
        text-align: center;
        max-width: 25ch;
        margin-inline: auto;
    }
    .combos .card{
        background-color: var(--fondo);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem 1rem;
    }
    .button-contenedor {
        position: relative;
        cursor: pointer;
        border: solid 2px var(--complementario);
        border-radius: 50%;
        padding: 2px;
    }
    .button-contenedor input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
        /* background-color: var(--complementario); */
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }
    .button-contenedor:hover input ~ .checkmark {
        background-color: #ccc;
    }
    .button-contenedor input:checked ~ .checkmark {
        background-color: var(--complementario-c);
    }




    /* DETALLES CURSO */
    .detalles-curso{
        padding-top: 0;
    }
    .detalles-curso .detalles-header , .detalles-curso .maxwidth section{
        display: grid;
        grid-template-columns: .4fr 1fr;
        gap: 4rem;
    }
    .detalles-curso .detalles-header{
        background-image: linear-gradient(var(--fondo-menor-c) 90%, transparent );
        top: 3rem;
        position: sticky;
        z-index: 10;

        padding-bottom: 1.5rem;
        padding-top: 3rem;
    }
    .detalles-curso h3{
        text-align: left;
        background-color: var(--fondo-menor-c);
        top: 14rem;
        position: sticky;
        height: fit-content;
    }
    .detalles-curso .bajada-big{
    }
    .detalles-curso b{
    }
    .detalles-curso .maxwidth{
    }
    .detalles-curso .maxwidth section{
    }
    .horarios{
    }
    .horarios .bajada-reg , .direccion .bajada-reg {
        text-align: left;
        padding-bottom: 1rem;
    }
    .horarios :nth-child(4){
    }
    .horarios .ctaycaption{
    }
    .direccion{
        display: grid;
        grid-template-columns: 35% 1fr;
        grid-template-rows: min-content min-content 1fr min-content;
    }
    .direccion .bajada-reg{
        grid-column: span 2;
    }
    .direccion ul{
    }
    .direccion .mapa{
        grid-area: 2/2/5/3;
        position: relative;
        aspect-ratio: auto;
        filter: none;
        mix-blend-mode: normal;
    }
    .direccion .color1{
        pointer-events:none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #6d6d6d4a;
        z-index: 2;
        mix-blend-mode: hue;
    }
    .direccion .color2{
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #4040409c;
        z-index: 3;
        mix-blend-mode: screen;
    }
    .direccion .color3{
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #f0ede6cc;
        z-index: 4;
        mix-blend-mode: color;
    }
    .modulo{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }


    .comunidad-top100{

    }
    .comunidad-cita{
        display: initial;
    }
    .galeria-comunidad{
        max-width: 50vw;
    }
    .comunidad-cita{
        padding: 0;
        aspect-ratio: auto;
    }
    .comunidad-cita :nth-child(2){
        display: initial;
    
    }
    .comunidad-cita :nth-child(3){
        padding: 0;
        padding-bottom: 1rem;
    }


    /* PROMOBIGBOX */
    .promo-bigbox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr min-content;
        gap: 1rem 4rem;
    }
    .promo-bigbox .titulo{
        align-items: normal;
        padding-bottom: 0;
    }
    .promo-bigbox h2{
        text-align: left;
        max-width: 100%;
    }
    /* .promo-bigbox h2::after{
        content: url(../imagenes/talleres-top100-bigbox-logo.svg);
        display: block;
        height: 2.25rem;
        width: auto;
    } */
    .promo-bigbox figure{
        aspect-ratio: 4/3;
        grid-area: 1/1/4/2;
    }


}



@media only screen and (min-width: 1080px){
    /* HEADER */
    header{
        display: flex;
        gap: 1rem;
    }
    header .navegacion{
        flex-grow: 1;
    }
    header .navegacion ul{
        gap: 2rem;
    }
}


@media only screen and (min-width: 1440px){

    .container{
        display: inherit;
    }


}